{% extends "base.html"%}
{% block content %}
<br>

<div class="container-header">
  <p class="display-1-header">Nueva publicación</p>
</div>

<div class="container">
  <form  method="post">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="form-group">
      {{ form.title.label (class='form-group', style="color:black") }}
      {{ form.title (class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.subtitle.label (class='form-group', style="color:black") }}
      {{ form.subtitle (class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.photo_url.label (class='form-group', style="color:black") }}
      {{ form.photo_url (class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.section_name.label (class='form-group', style="color:black") }}
      {{ form.section_name (class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.post_content.label (class='form-group', style="color:black") }}
      {{ form.post_content (class='form-control', style="height:800px") }}
    </div>

    <div class="form-group">
     {{form.submit(class='btn btn-primary btn-lg btn-block')}}
    </div>
  </form>
</div>
{% endblock %}
