<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Fashion Adviser</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css')}}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <!-- include libraries(jQuery, bootstrap, fontawesome) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">


    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.0/summernote.css" rel="stylesheet">


</head>
<body>
<div class="outer-container">
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-branding flex flex-column align-items-center">
                        <figure class="branding-image">
                            <img src="{{ url_for('static', filename='images/logo.png')}}" alt=""><a href="index.html" rel="home"></a></img>
                        </figure><!-- .featured-image -->
                        <p class="site-description">Personal Blog</p>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                            <li class="current-menu-item"><a href="{{ url_for('section.index') }}">Home</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Fashion') }}">Fashion</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Beauty') }}">Beauty</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Fitness') }}">Fitness</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Lifestyle') }}">Lifestyle</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Shop') }}">Shop</a></li>
                        </ul>
                    </nav><!-- .site-navigation -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .site-header -->
<br>

<div class="container-header">
  <p class="display-1-header">Nueva publicación</p>
</div>

<div class="container">
  <form  method="post">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <div class="form-group">
      {{ form.title.label (class='form-group', style="color:black") }}
      {{ form.title (class='form-control', required="true") }}
    </div>

    <div class="form-group">
      {{ form.subtitle.label (class='form-group', style="color:black") }}
      {{ form.subtitle (class='form-control', required="true") }}
    </div>

    <div class="form-group">
      {{ form.photo_url.label (class='form-group', style="color:black") }}
      {{ form.photo_url (class='form-control', required="true") }}
    </div>

    <div class="form-group">
      {{ form.section_name.label (class='form-group', style="color:black") }}
      {{ form.section_name (class='form-control', required="true") }}
    </div>

    <div class="form-group">
      {{ form.post_content.label (class='form-group', style="color:black") }}
      {{ form.post_content (id="summernote", required="true") }}
    </div>

    <br>


    <div class="form-group">
     {{form.submit(class='btn btn-primary btn-lg btn-block')}}
    </div>
  </form>
</div>
<div class="footer-bar">
    <div class="outer-container">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-12 col-md-6">
                    <div class="footer-copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div><!-- .footer-copyright -->
                </div><!-- .col-xl-4 -->

                <div class="col-12 col-md-6">
                    <div class="footer-social">
                        <ul class="flex justify-content-center justify-content-md-end align-items-center">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="{{ url_for('blog_posts.admin') }}"><i class="fa fa-id-badge"></i></a></li>
                        </ul>
                    </div><!-- .footer-social -->
                </div><!-- .col-xl-4 -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .outer-container -->
</div><!-- .footer-bar -->
</footer><!-- .sit-footer -->

<script>
  $(document).ready(function() {
    $('#summernote').summernote({
  height: 600,
  minHeight: null,
  maxHeight: null,
  focus: false
});
  });
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/custom.js')}}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.0/summernote.js"></script>

</body>
</html>
