{% extends "base.html" %}


{% block head %}

  <!--================Header Menu Area =================-->

  <main class="site-main">
    <!--================Hero Banner start =================-->
    <section class="mb-30px">
      <div class="container">
        <div class="hero-banner hero-banner--sm" style="background-image: url({{url_for('static', filename='images/'+ section_name + '.jpg')}})">
          <div class="hero-banner__content">
            <h1>Archivo</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('section.index') }}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!--================Hero Banner end =================-->

    <!--================ Blog slider start =================-->
    <section>
      <div class="container">
        <div class="owl-carousel owl-theme blog-slider">
          {% for post in first_page.items %}
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{{ post.photo_url }}" style="height:230px; background-size: cover; background:center;" alt="Foto del post">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="{{ url_for('blog_posts.post', post_id=post.id) }}">{{ post.section_name}}</a>
              <h3><a href="{{ url_for('blog_posts.post', post_id=post.id) }}">{{post.title}}</a></h3>
              <p>{{ post.subtitle }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--================ Blog slider end =================-->
        {% endblock %}

    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-4">
      <div class="container">
        <div class="row">
            {% block content %}
          <div class="col-lg-8">
            {% for fpost in feature_post %}
            <div class="single-recent-blog-post">
              <div class="thumb">
                <img class="img-fluid" style="height: 540px; width: 730px; object-fit: cover"src="{{ fpost.photo_url }}" alt="">
                <ul class="thumb-info">
                  <li><a href=""><i class="ti-user"></i>Angie Zcoln</a></li>
                  <li><a href=""><i class="ti-notepad"></i>{{ fpost.post_timestamp.strftime('%B %d, %Y') }}</a></li>
                  <li><a href=""><i class="ti-medall"></i>{{ fpost.section_name }}</a></li>
                </ul>
              </div>
              <div class="details mt-20">
                <a href="blog-single.html">
                  <h3>{{ fpost.title }}</h3>
                </a>
                <p>{{ fpost.subtitle }}</p>
                <a class="button" href="{{ url_for('blog_posts.post', post_id=fpost.id) }}">Leer más <i class="ti-arrow-right"></i></a>
              </div>
            </div>
            {% endfor %}

            <div class="row">
              <div class="col-lg-12">
                  <nav class="blog-pagination justify-content-center d-flex">
                      <ul class="pagination">
                          <li class="page-item">
                              <a href="" class="page-link" aria-label="Previous">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-left"></i>
                                  </span>
                              </a>
                          </li>
                          {% for page_num in first_page.iter_pages() %}
                            {% if page_num == 1 %}
                              <li class="page-item active"><a href="{{ url_for('section.index', page=1) }}" class="page-link">1</a></li>
                              {% elif page_num  %}
                                <li class="page-item"><a href="{{ url_for('section.index', page=page_num) }}" class="page-link">{{ page_num }}</a></li>
                            {% else %}
                              <li class="page-item active"><a href="{{ url_for('section.index', page=page_num) }}" class="page-link">{{ page_num }}</a></li>
                            {% endif %}
                          {% endfor %}
                          <!-- <li class="page-item"><a href="#" class="page-link">2</a></li> -->
                          <li class="page-item">
                              <a href="" class="page-link" aria-label="Next">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-right"></i>
                                  </span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
            </div>
          </div>
          {% endblock %}
