<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Fashion Adviser</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.css')}}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<div class="outer-container">
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-branding flex flex-column align-items-center">
                        <figure class="branding-image">
                            <img src="{{ url_for('static', filename='images/logo.png')}}" alt=""><a href="index.html" rel="home"></a></img>
                        </figure><!-- .featured-image -->
                        <p class="site-description">Personal Blog</p>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <ul class="flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
                            <li class="current-menu-item"><a href="{{ url_for('section.index') }}">Home</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Fashion') }}">Fashion</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Beauty') }}">Beauty</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Fitness') }}">Fitness</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Lifestyle') }}">Lifestyle</a></li>
                            <li><a href="{{ url_for('section.blog_section', sec_name='Shop') }}">Shop</a></li>
                        </ul>
                    </nav><!-- .site-navigation -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .site-header -->

    <div class="container single-page blog-page">
        <div class="row">
            <div class="col-12">
                <div class="content-wrap">
                  <figure class="featured-image-post">
                      <img src="{{post.photo_url}}" alt="">
                  </figure><!-- .featured-image -->
                    <header class="entry-header">
                        <div class="posted-date">
                            {{ post.post_timestamp.strftime('%B %d, %Y') }}
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">{{post.title}}</h2>

                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->
                    <div class="row">
                      <main class="col-8 col-lg-8">
                        <div class="entry-content">
                          {% for line in lines %}
                            {% if "<p>" in line %}
                              <p> {{line.replace("</p>", "").replace("<p>", "")}} </p>
                            {%elif "<h3>" in line %}
                              <h3> {{line.replace("</h3>", "").replace("<h3>", "")}} </h3>
                            {%endif%}
                          {% endfor %}
                            <!-- <blockquote class="blockquote-text">
                                <p>Nullam non nisi ut dolor pellentesque eleifend. Aliquam commodo vitae risus malesuada varius. Nulla ornare lacus eu elit sollicitudin varius. Nulla aliquet ornare massa id tempor. Sed luctus dui non turpis sodales, ac tristique risus consequat. Donec tincidunt mi a magna rhoncus dapibus. Integer ut lectus euismod</p>
                            </blockquote> -->
                            <!-- .blockquote-text -->

                        </div><!-- .entry-content -->
                      </main>
                      <section class="container col-4 col-lg-4" style="margin-bottom:30px; background-color:black">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="container-post">
                              <div class="helper-post">
                                <div class="content-post">
                                  <img class="d-block w-100" src="{{post.photo_url}}" alt="First slide">
                                </div>
                              </div>
                            </div>
                            <div class="carousel-caption-post d-none d-md-block" style="background-color:black">
                              <p>Perrtos</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{p.photo_url}}" alt="Second slide">
                            <div class="carousel-caption-post d-none d-md-block" style="background-color:black">
                              <p>Husky en la nieve</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="{{po.photo_url}}" alt="Third slide">
                            <div class="carousel-caption-post d-none d-md-block" style="background-color:black">
                              <p>Husky en el cielo</p>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                      </section>
                    </div>

                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!-- .post-share -->

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">2 Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
                </div><!-- .content-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .outer-container -->



    <div class="footer-bar">
        <div class="outer-container">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <div class="footer-copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div><!-- .footer-copyright -->
                    </div><!-- .col-xl-4 -->

                    <div class="col-12 col-md-6">
                        <div class="footer-social">
                            <ul class="flex justify-content-center justify-content-md-end align-items-center">
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="{{ url_for('blog_posts.admin') }}"><i class="fa fa-id-badge"></i></a></li>
                            </ul>
                        </div><!-- .footer-social -->
                    </div><!-- .col-xl-4 -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .outer-container -->
    </div><!-- .footer-bar -->
</footer><!-- .sit-footer -->

<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/custom.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>

</body>
</html>
