<br>
<div class="container">
  <a href="{{ url_for('blog_posts.admin') }}" class="btn btn-primary" style="margin-right: 15px">Confirmar y publicar post</a>
  <a href="{{ url_for('blog_posts.update_post', post_id=post.id) }}" class="btn btn-warning" style="margin-right: 15px">Regresar a editar post</a>
  <a href="{{url_for('blog_posts.delete_post', post_id=post.id)}}" class="btn btn-danger">Descartar y borrar post</a>
</div>

{% extends "base.html"%}


{% block content %}

    <div class="container single-page blog-page">
        <div class="row">
            <div class="col-12">
                <div class="content-wrap">
                  <figure class="featured-image-post">
                      <img src="{{post.photo_url}}" alt="">
                  </figure><!-- .featured-image -->
                    <header class="entry-header">
                        <div class="posted-date">
                            {{post.post_timestamp.strftime('%B %d, %Y')}}
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">{{post.title}}</h2>

                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>{{ post.post_content | safe }}</p>

                    </div><!-- .entry-content -->

                </div><!-- .content-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .outer-container -->

{% endblock %}
