{% extends "base.html"%}
{% block content %}

<div class="container-header">
  <p class="display-1-header">Nueva publicación</p>
</div>
    <div class="container single-page contact-page">
                <div class="">
                    <form class="contact-form" method="POST">
                      {# This hidden_tag is a CSRF security feature. #}
                      {{ form.hidden_tag() }}
                      {{ form.csrf_token }}
                      {{ form.title.label }} {{form.title}}
                      {{ form.subtitle.label}} {{form.subtitle}}
                      {{form.photo_url.label}}{{form.photo_url}}
                      {{form.section_type.label}}{{form.section_type}}
                      Escribe aquí el contenido del post
                      {{form.post_content}}
                      {{ form.submit() }}
                    </form><!-- .contact-form -->
                </div><!-- .content-wrap -->
    </div><!-- .container -->
{% endblock %}
