{% extends "base.html"%}
{% block content %}
<br>
<div class="container-header">
  <p class="display-1-header">Nueva publicación</p>
</div>
    <div class="container single-page contact-page">
                <div class="">
                    <form class="contact-form" method="POST">
                      {# This hidden_tag is a CSRF security feature. #}
                      {{ form.hidden_tag() }}
                      {{ form.csrf_token }}
                      {{ form.title.label (class_='label_post') }} {{form.title}}
                      {{ form.subtitle.label (class_='label_post') }} {{form.subtitle}}
                      {{ form.photo_url.label (class_='label_post') }}{{form.photo_url}}
                      {{ form.section_type.label (class_='label_post') }}<br>
                      {{ form.section_type}}<br>
                      <p (class_='label_post') >Escribe aquí el contenido del post</p>
                      {{form.post_content (size=80)}}
                      {{ form.submit() }}
                    </form><!-- .contact-form -->
                </div><!-- .content-wrap -->
    </div><!-- .container -->
{% endblock %}
