<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Fashion Adviser</title>

    <!-- Required meta tags -->
    <script>
    function togglePosts(btn) {
      var x = document.getElementById("table_Div");
      console.log("click and is:" +x.style.display)
      if (x.style.display === "none") {
        x.style.display = "block";
      }else {
        x.style.display = "none";
      }
      console.log("changed to:" +x.style.display)
      }

    </script>

    <script>
      function deleteFlash(btn) {
        document.getElementById("div_flashAlert").remove()
      }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css')}}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<div class="outer-container">
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-branding flex flex-column align-items-center">
                        <figure class="branding-image">
                            <img src="{{ url_for('static', filename='images/logo.png')}}" alt=""><a href="index.html" rel="home"></a></img>
                        </figure><!-- .featured-image -->
                        <p class="site-description">Personal Blog</p>
                    </div><!-- .site-branding -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </header><!-- .site-header -->


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div id="div_flashAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
      <button onclick="deleteFlash(this)" type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{message}}
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div class="container-table-dashboard">
      <div class="jumbotron">
        <div class="card">
          <div class="card-header">
            The Fashion Adviser
          </div>
          <div class="card-body">
            <h5 class="card-title">Panel de administración</h5>
            <p class="card-text">Hola, {{ name }}! Bienvenido/a a tu panel de control del blog, ¿qué deseas hacer hoy?</p>
            <a href="#" class="btn btn-primary" style="margin-right: 20px" onclick="togglePosts(this)">Ver todos los posts</a>
            <a href="{{ url_for('addpost') }}" class="btn btn-success" >Crear un nuevo post</a>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div style="display:none" id="table_Div">
        <table class="table table-bordered" style="background-color: #ffffff">
          <thead>
            <tr>
              <th scope="col">Post ID</th>
              <th scope="col">Título</th>
              <th scope="col">Sección</th>
              <th scope="col" colspan="2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
              <th scope="row">{{ post.id }}</th>
              <td>{{ post.title }}</td>
              <td>{{ post.section_type }}</td>
              <td><a href="{{ url_for('editpost', post_id=post.id) }}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></a></td>
              <td><a href="{{ url_for('delete', post_id=post.id) }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>



    </div>
    <br>
    <br>


    <div class="footer-bar">
        <div class="outer-container">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <div class="footer-copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div><!-- .footer-copyright -->
                    </div><!-- .col-xl-4 -->

                    <div class="col-12 col-md-6">
                        <div class="footer-social">
                            <ul class="flex justify-content-center justify-content-md-end align-items-center">
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .footer-social -->
                    </div><!-- .col-xl-4 -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .outer-container -->
    </div><!-- .footer-bar -->
</footer><!-- .sit-footer -->



<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/swiper.min.js')}}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/custom.js')}}"></script>


</body>
</html>
