{% extends "base.html"%}
{% block content %}
<div class="container-header">
  <p class="display-1-header">Preview</p>
</div>

<div class="container">
  <button type="button" class="btn btn-primary">Confirmar</button>
  <button type="button" class="btn btn-warning">Regresar a editar</button>
</div>



    <div class="container single-page blog-page">
        <div class="row">
            <div class="col-12">
                <div class="content-wrap">
                  <figure class="featured-image-post">
                      <img src="{form.photo_url}" alt="">
                  </figure><!-- .featured-image -->
                    <header class="entry-header">
                        <div class="posted-date">
                            timestamp
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">{form.title}</h2>

                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>{ form.post_content }</p>


                        <blockquote class="blockquote-text">
                            <p>Nullam non nisi ut dolor pellentesque eleifend. Aliquam commodo vitae risus malesuada varius. Nulla ornare lacus eu elit sollicitudin varius. Nulla aliquet ornare massa id tempor. Sed luctus dui non turpis sodales, ac tristique risus consequat. Donec tincidunt mi a magna rhoncus dapibus. Integer ut lectus euismod</p>
                        </blockquote><!-- .blockquote-text -->

                    </div><!-- .entry-content -->





                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!-- .post-share -->

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">2 Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
                </div><!-- .content-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .outer-container -->

{% endblock %}
