{% extends "base.html"%}
{% block content %}

<div class="container-fluid">
<!-- POST Main content -->
    <div class="container single-page">
        <div class="row">
            <div class="col-12 col-lg-9">

              {% for post in main_posts %}
                <div class="content-wrap">
                    <header class="entry-header">
                        <div class="posted-date">
                            {{post.timestap}}
                        </div><!-- .posted-date -->
                        <h1 class="entry-title"><a href="{{ url_for('post', post_id=post.id) }}">{{post.title}}</a></h1>
                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->
                    <figure class="featured-image">
                        <img src="{{post.photo_url}}" alt="">
                    </figure><!-- .featured-image -->

                    <div class="entry-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in porttitor magna, a imperdiet est. </p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul><!-- .post-share -->

                        <a class="read-more order-2" href="#">Read more</a>

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">2 Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
                </div><!-- .content-wrap -->
                {% endfor %}


                <div class="pagination">
                    <ul class="flex align-items-center">
                        <li class="active"><a href="#">01.</a></li>
                        <li><a href="#">02.</a></li>
                        <li><a href="#">03.</a></li>
                    </ul>
                </div>
            </div><!-- .col -->

            <div class="col-12 col-lg-3">
                <div class="sidebar-about-me">
                    <div class="about-me">
                      <img src="{{url_for('static', filename='images/about.jpeg')}}">
                      <h2 class="about-me">About Me</h2>
                      <h3 class="about-me">I’m Nayeli</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor facilisis, volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Suspendisse sit amet laoreet neque. Fusce sagittis suscipit sem a consequat. Proin nec interdum sem. Quisque in porttitor magna.</p>
                    </div><!-- .about-me -->

                    <div class="header-bar-social d-none d-md-block">
                        <ul class="flex align-items-center">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div><!-- .header-bar-social -->

                    <div class="recent-posts">
                        {% for spost in side_posts %}
                        <div class="recent-post-wrap">
                            <figure>
                                <img src="{{ spost.photo_url }}" alt="">
                            </figure>

                            <header class="entry-header">
                                <div class="posted-date">
                                    {{ spost.timestap }}
                                </div><!-- .entry-header -->

                                <h3><a href="#">{{ spost.title }}</a></h3>

                                <div class="tags-links">
                                    <a href="#">#first</a>
                                    <a href="#">#second</a>
                                    <a href="#">#third</a>
                                    <a href="#">#fourth</a>
                                </div><!-- .tags-links -->
                            </header><!-- .entry-header -->
                        </div><!-- .recent-post-wrap -->
                        {% endfor %}
                    </div><!-- .recent-posts -->


                    <div class="tags-list">
                        <a href="#">Music</a>
                        <a href="#">Love</a>
                        <a href="#">Car</a>
                        <a href="#">Stories</a>
                        <a href="#">Photography</a>
                        <a href="#">Music</a>
                        <a href="#">Car</a>
                    </div><!-- .tags-list -->

                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .outer-container -->
{% endblock %}
